#toastr {
    position:fixed;
    bottom: 15px;
    color:white;
    display: flex;
    align-items: center;
    padding:15px;
    width: 400px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    visibility: hidden;
    animation: fadein;
    animation-duration:0.5s;
}
#toastr.error { background-color: var(--error-color); }
#toastr.success { background-color: #004D40; }
#toastr.info { background-color: #01579B; }
#toastr.warning { background-color: #E65100; }
#toastr p { margin-left: 7px; }






  


/****************************
 * RESPONSIVE MEDIA QUERIES *
 ****************************/



/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
 @media (min-width: 1281px) {



 }
  
  
 /*
  * DEVICE: Laptops, Desktops
  * SCREEN: B/w 1025px to 1280px
  */
 @media (min-width: 1025px) and (max-width: 1280px) {
 
 
 
 }
  
  
 /*
  * DEVICE: Tablets, Ipads (portrait)
  * SCREEN: B/w 768px to 1024px
  */
 @media (min-width: 768px) and (max-width: 1024px) {
 
 
 }
  
  
 /*
  * DEVICE: Tablets, Ipads (landscape)
  * SCREEN: B/w 768px to 1024px
  */
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
 
 }
  
  
 /*
  * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
  * SCREEN: B/w 481px to 767px
  */
 @media (min-width: 481px) and (max-width: 767px) {
 
 
 }
 
  
  
 /*
  * DEVICE: Most of the Smartphones Mobiles (Portrait)
  * SCREEN: 480px to lower resolution mobiles
  */
 @media (max-width: 480px) {
     #toastr {
         width: 250px;
     }
 }